/* TYPOGRAPHY
----------------------------------------------------------- */


p  {
    padding:5px;
	padding-left:0px;
	padding-right:0px;
	}

.module_round_box_outer ul, .moduletable ul  {
	list-style: none; }
	
.contentpaneopen ul {
	list-style:disc;
	margin-left:10px;
	margin-right:10px;
	}

ol  {
	margin-top: 5px;
	margin-bottom: 5px; }

ol li  {
	padding:2px;
	margin-right:15px;
	margin-left: 15px; }

blockquote {
	background:transparent url(../images/typography/s5_left_quote.png) no-repeat top left;
	font-weight:bold;
	font-style:italic;
	line-height:150%;
	margin:15px 0pt;
	padding:0px 0px 5px 65px;
	width:auto;
}

blockquote p {
	background:transparent url(../images/typography/s5_right_quote.png) no-repeat bottom right;
	margin-top:0pt;
	padding:0pt 65px 10px 0pt;
}

.code {
	background:#EBEAEA;
	border-left:solid 5px #666666;
	color:#666666;
	font-family:monospace;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:15px;
	margin-bottom:15px;
	padding:10px 20px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.4em;
}

ul.ul_arrow li {
	background:transparent url(../images/typography/s5_ul_arrow.png) no-repeat top left;
	padding:3px;
	padding-left:18px;
	padding-right:18px;
	list-style:none;
}

	#s5_component_wrap ul.ul_arrow {
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
		list-style-type:none;}
		

ul.ul_star li {
	background:transparent url(../images/typography/s5_ul_star.png) no-repeat top left;
    line-height: 17px;
    list-style: none outside none;
    margin-top: 12px;
    padding: 0 16px 0 24px;
}


	#s5_component_wrap ul.ul_star {
    line-height: 21px;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;}

ul.ul_bullet li {
	background:transparent url(../images/typography/s5_ul_bullet.png) no-repeat top left;
	padding:3px;
	padding-left:23px;
	padding-right:18px;
	list-style:none;
}

	#s5_component_wrap ul.ul_bullet {
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
		list-style-type:none;}


#s5_component_wrap ul.ul_numbers {
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
	list-style-type:none;}	

ul.ul_numbers li {
	padding-top:6px;
	padding-left:36px;}		
		
li.li_number1  {
	background:transparent url(../images/typography/s5_li_number1.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number2  {
	background:transparent url(../images/typography/s5_li_number2.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number3  {
	background:transparent url(../images/typography/s5_li_number3.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number4  {
	background:transparent url(../images/typography/s5_li_number4.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number5  {
	background:transparent url(../images/typography/s5_li_number5.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number6  {
	background:transparent url(../images/typography/s5_li_number6.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number7  {
	background:transparent url(../images/typography/s5_li_number7.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number8  {
	background:transparent url(../images/typography/s5_li_number8.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number9  {
	background:transparent url(../images/typography/s5_li_number9.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

.red_box {

	background:#FFD6D6;
	border:solid 1px #EF706F;
	color:#CC0000;
	padding:6px 6px 6px 15px;
}

.red_box a, #s5_component_wrap_inner .red_box a {
	color:#CC0000;
	font-weight:bold;
	text-decoration:underline;
}

.blue_box {

	background:#D0DCEC;
	border:solid 1px #5B95DA;
	color:#1B6FC2;
	padding:6px 6px 6px 15px;
}

.blue_box a, #s5_component_wrap_inner .blue_box a {
	color:#1B6FC2;
	font-weight:bold;
	text-decoration:none;
}

.green_box {

	background:#EEF7DD;
	border:solid 1px #40AB38;
	color:#40AB38;
	padding:6px 6px 6px 15px;
}

.green_box a, #s5_component_wrap_inner .green_box a {
	color:#40AB38;
	font-weight:bold;
	text-decoration:underline;
}

.orange_box {

	background:#FEF6D8;
	border:solid 1px #755102;
	color:#755102;
	padding:6px 6px 6px 15px;
}

.orange_box a, #s5_component_wrap_inner .orange_box a {
	color:#755102;
	font-weight:bold;
	text-decoration:underline;
}

.yellow_box {

	background:#F4F5B9;
	border:solid 1px #757402;
	color:#757402;
	padding:6px 6px 6px 15px;
}

.yellow_box a, #s5_component_wrap_inner .yellow_box a {
	color:#757402;
	font-weight:bold;
	text-decoration:underline;
}

.gray_box {

	background:#FFFFFF;
	border:solid 1px #9D9D9D;
	color:#4B4B4B;
	padding:6px 6px 6px 15px;
}

.gray_box a, #s5_component_wrap_inner .gray_box a {
	color:#4B4B4B;
	font-weight:bold;
	text-decoration:underline;
}

.black_box {

	background:#333333;
	border:solid 1px #4D4D4D;
	color:#FFFFFF;
	padding:6px 6px 6px 15px;
}

.black_box a, #s5_component_wrap_inner .black_box a {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}

.boxed {
    background: none repeat scroll 0 0 #D9D9D9;
    border: 1px solid #BFBEBE;
    margin-right: 0;
    padding: 5px;
	float:left;
	margin:0px;
	margin-bottom:14px;
}

.boxed_black {
	background:#1A1A1A;
	padding:3px;
	margin-right:10px;
	margin-bottom:8px;
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	-o-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}

.boxed_black:hover {
	background:#414141;
	-webkit-transition: background 200ms ease-in;
	-moz-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
	transition: background 200ms ease-in;
}

.padded, .img-intro-right img, .img-intro-left img, .img-fulltext-right img, .img-fulltext-left img {
	float:left;
	padding:10px;
	margin-right:18px;
	margin-bottom:18px;
	background:#FFFFFF;
	border:solid 1px #D8D7D7;
}

.img-intro-right img, .img-fulltext-right img {
	float:right;
}

#s5_component_wrap .padded {
float:none;
margin:0px;
margin-bottom:14px;
}

.img-intro-right, .img-fulltext-right {
	margin-left:18px;
}

.img-intro-left, .img-fulltext-left {
	margin-right:18px;
}

.black_bg {
background:#2E2E2E;
color:#FFFFFF !important;
padding:12px;
padding-bottom:15px;
padding-top:20px;
font-size:2.8em !important;
display:inline;
}

.s5_greenbox {

	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#185564;}
	.s5_greenbox a {color:#ffffff;}

.s5_greenbox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	

	
.s5_graybox {

	position:relative;
	padding:12px;
	color:#313131;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	background:#e6e6e6;}
	.s5_graybox a {color:#313131;}

.s5_graybox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	
	

	
	
.s5_bluebox {

	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#22ace5;}
	.s5_bluebox a {color:#ffffff;}

.s5_bluebox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}		
	

	
.s5_redbox {

	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#ff5858;}
	.s5_bluebox a {color:#ffffff;}

.s5_redbox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	

#contact-form .button {
margin-top:14px;
margin-bottom:14px;
}

	 

	 
	 /* PRICING TABLE
----------------------------------------------------------- */	
.s5_pricetable_7, .s5_pricetable_6, .s5_pricetable_5, .s5_pricetable_4, .s5_pricetable_3, .s5_pricetable_2, .s5_pricetable_1 {padding-top:50px;}
.s5_pricetable_7, .s5_pricetable_6, .s5_pricetable_5, .s5_pricetable_4, .s5_pricetable_3, .s5_pricetable_2, .s5_pricetable_1 {padding-bottom:25px;}
.s5_pricetable_7 .s5_pricetable_column { width:13.5%;}
.s5_pricetable_6 .s5_pricetable_column { width:15.5%;}
.s5_pricetable_5 .s5_pricetable_column { width:19.5%;}
.s5_pricetable_4 .s5_pricetable_column {	width:24.5%;}
.s5_pricetable_3 .s5_pricetable_column {	width:32.5%;}
.s5_pricetable_2 .s5_pricetable_column {	width:49.5%;}	
.s5_pricetable_1 .s5_pricetable_column {	width:100%;}		
	
.s5_pricetable_column.recommended {
	margin-top: -22px;
    padding-bottom: 23px;
	background:#333333;
	color:#ffffff;
	position: relative;
	margin-left: -1px;
    margin-right: -1px;
	border: medium none;}
	
.s5_pricetable_column {
	border:1px solid #cccccc;
	text-align:center;
	padding-bottom: 10px;
	background:#ffffff;
	float:left;}
	
	.s5_pricetable_column_padding {
		padding:20px;}


.s5_pricetable_column .s5_title {
	font-size: 2.2em;
	margin-bottom: 40px;
    padding: 17px 14px;	
	color:#ffffff;
	background:#333333;}
	
	.s5_pricetable_column.recommended .s5_title {
		color:#000000;
		background:#ffffff;}

.s5_pricetable_column .s5_horizontalrule	{
	height:1px;
	margin-bottom: 26px;
	background:#e1e1e1;}
	
	
.s5_pricetable_column .s5_options {
	font-size: 1.1em;
	margin-bottom: 25px;
    line-height: 32px;
	margin-top: 25px;
    text-align: center;}
	
.s5_pricetable_column a.s5_pricetable {	
	text-decoration:none;
	text-align:center;}
	
	.s5_buttoncenter {
	text-align:center;}
	
	
.s5_pricetable_column .price {
	line-height: 42px;
	font-size:5.1em;}

.s5_pricetable_column .dollarsign {	
	font-size: 1.4em;
	vertical-align: top;}
	
.s5_pricetable_column .month{
	vertical-align: text-top;
	font-size: 1.1em;}
	


@media screen and (max-width: 970px){

	.s5_pricetable_column {
		margin-bottom:45px;
		float:none;}
		
	.s5_pricetable_column.recommended {
		margin-top:0px;}
		
	.s5_pricetable_7 .s5_pricetable_column { width:100%;}
	.s5_pricetable_6 .s5_pricetable_column { width:100%;}
	.s5_pricetable_5 .s5_pricetable_column { width:100%;}
	.s5_pricetable_4 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_3 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_2 .s5_pricetable_column {	width:100%;}		
	
}