/* ANY CSS FOR ALL WIDTHS GOES HERE
----------------------------------------------------------- */

#s5_map_canvas img { max-width:none !important;}


/* ALL WIDTHS UNDER 970PX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	/* DEFAULT
	----------------- */

	.s5_wrap {
	width:100% !important;
	}
	
	.s5_is_display, .s5_is_slide {
	position:relative !important;
	}
	
	.s5_is_slide {
	height:auto !important;
	}
	
	#fontControls {
	display:none;
	}
	
	/* CUSTOM
	----------------- */
	
	.s5_wrap {
	width:90% !important;
	}
	
	body {
	font-size:0.7em !important;
	}
	
	.contact_module { 
	background:none;
	}
	
	#s5_banner {
	float:left;
	margin-bottom:16px;
	}
	
	#s5_logo_responsive_clear {
	clear:both;
	}
	
	#s5_menu_wrap {
	margin-bottom:16px;
	}
	
	.s5_wrap {
	width:96% !important;
	}
	
	#s5_facebook, #s5_google, #s5_rss, #s5_twitter {
	float:left;
	border:none;
	}
	
	#s5_social_bar {
	position:relative;
	float:none;
	width:auto;
	right:auto;
	background:none;
	margin-top:0px;
	}
	
	#s5_nav li .s5_level1_span1 {
	padding-left:14px;
	padding-right:14px;
	}
	
	#s5_search_wrap input {
	width:100px;
	}
	
	#s5_below_menu {
	padding-top:12px;
	}
	
	.s5_scrolltotop {
	margin-right:14px;
	}
	
	#s5_footer, #s5_bottom_menu_wrap {
	float:none;
	}
	
	#s5_bottom_menu_wrap {
	margin-top:6px;
	}
	
}


/* TABLET PORTRAIT MODE CSS
----------------------------------------------------------- */

@media screen and (min-width:580px) and (max-width: 970px){

	
	/* CUSTOM
	----------------- */
	
}


/* TABLET PORTRAIT MODE CSS - SMALLER TABLETS
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	/* CUSTOM
	----------------- */
	
	.left_img {
	width:100%;
	}
	
	.tab_right, .tab_left {
	width:100%;
	float:none;
	}
	
	.tab_right {
	margin-top:20px;
	}
	
	#s5_social_bar {
	padding-bottom:0px;
	padding-left:1px;
	}
	
	#s5_banner {
	float:left;
	margin-bottom:10px;
	}
	
	.request_img { 
	display:none !important;
	}
	
	#s5_component_wrap .item {
	width:100%;
	margin-right:0px;
	float:none;
	}
	
	#s5_header_wrap, #s5_footer_area1 {
	padding-left:20px;
	padding-right:20px;
	}
	
	#s5_center_area1, #s5_bottom_row3_wrap, #s5_top_row1_wrap {
	margin-left:-10px;
	margin-right:-10px;
	width:auto;
	}
	
	.request_call_left, .request_call_right {
	width:100%;
	margin:0px;
	float:left;
	}
	
	.request_call .highlight_button {
	float:left;
	margin-top:14px;
	}
	
	#s5_body_padding {
	padding-top:20px;
	padding-bottom:20px;
	}

}


/* MOBILE LAYOUT CSS
----------------------------------------------------------- */

@media screen and (max-width: 579px){

	/* DEFAULT
	----------------- */

	#s5_right_column_wrap_inner .s5_float_left, #s5_left_column_wrap_inner .s5_float_left {
	float:none;
	}

	#s5_columns_wrap_inner {
	width:100%;
	}

	#s5_center_column_wrap {
	width:100%;
	left:100%;
	}

	#s5_left_column_wrap {
	left:0%;
	}
	
	#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap, #s5_top_row1 .s5_float_left, #s5_top_row2 .s5_float_left, #s5_top_row3 .s5_float_left, #s5_above_columns_inner .s5_float_left, #s5_middle_top .s5_float_left , #s5_middle_bottom .s5_float_left, #s5_below_columns_inner .s5_float_left, #s5_bottom_row1 .s5_float_left, #s5_bottom_row2, .s5_float_left, #s5_bottom_row3 .s5_float_left, #s5_above_body .s5_float_left, #s5_below_body .s5_float_left {
	width:100% !important;
	}
	
	#s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	#s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	#s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}
	
	/* CUSTOM
	----------------- */
	
	.s5_ts_not_active {
	border:none;
	border-bottom:solid 1px #555555;
	}
	
	#s5_header_wrap, #s5_footer_area1 {
	padding-left:14px;
	padding-right:14px;
	}
	
	#s5_center_area1, #s5_bottom_row3_wrap, #s5_top_row1_wrap {
	padding-left:0px !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	width:auto;
	}
	
	#s5_center_area, #s5_top_row1_area_inner, #s5_bottom_row3_area_inner {
	padding-left:14px !important;
	padding-right:14px !important;
	}
	
	.module_round_box_outer, #s5_component_wrap {
	margin-left:0px !important;
	margin-right:0px !important;
	}

}


/* CUSTOM SIZES
----------------------------------------------------------- */



@media screen and (max-width: 1150px) {
	.contact_module { 
	background-size:50%;
	}
}

@media screen and (max-width: 400px){

	.fd_text {
	display:none !important;
	}
	
}

@media screen and (max-width: 900px){

	.fd_box {
	text-align:inherit;
	padding:20px;	
	padding-bottom:28px;
	}
	
	.fd_box_img {
	display:none !important;
	}
	
	#s5_fd_1, #s5_fd_2, #s5_fd_3, #s5_fd_4, #s5_fd_5, #s5_fd_6, #s5_fd_7, #s5_fd_8, #s5_fd_9 {
	margin-bottom:1px !important;
	}
	
	.fd_title {
	font-size:1.2em;
	margin-bottom:5px;
	}

}


/* S5 BOX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	#colorbox {
	width:50% !important;
	height:auto !important;
	}
	
	#cboxWrapper {
	width:100% !important;
	}
	
	#cboxContent, #cboxLoadedContent {
	width:100% !important;
	height:auto !important;
	}
	
	#colorbox {
	left:25% !important;
	width:50% !important;
	height:100% !important;
	top:25% !important;
	}
	
}

@media screen and (max-width: 750px){

	#cboxOverlay, #colorbox {
	display:none !important;
	}
	
}












/* SINGLE COLUMN FOR SMALL TABLETS - THIS IS ONLY USED FOR IE7 AND IE8. THE CLASS IS SET WITH JAVASCRIPT FOR IE ONLY
----------------------------------------------------------- */

@media screen and (max-width: 750px){
	
	.s5_ie_single_column #s5_right_column_wrap_inner .s5_float_left, .s5_ie_single_column #s5_left_column_wrap_inner .s5_float_left {
	float:none  !important;
	}

	.s5_ie_single_column #s5_columns_wrap_inner {
	width:100%  !important;
	}

	.s5_ie_single_column #s5_center_column_wrap {
	width:100%  !important;
	left:100%  !important;
	}

	.s5_ie_single_column #s5_left_column_wrap {
	left:0%  !important;
	}
	
	.s5_ie_single_column #s5_left_top_wrap, .s5_ie_single_column #s5_left_column_wrap, .s5_ie_single_column #s5_left_inset_wrap, .s5_ie_single_column #s5_left_wrap, .s5_ie_single_column #s5_left_bottom_wrap, .s5_ie_single_column #s5_right_top_wrap, .s5_ie_single_column #s5_right_column_wrap, .s5_ie_single_column #s5_right_inset_wrap, .s5_ie_single_column #s5_right_wrap, .s5_ie_single_column #s5_right_bottom_wrap {
	width:100% !important;
	}
	
	.s5_ie_single_column #s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	.s5_ie_single_column #s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	.s5_ie_single_column #s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.s5_ie_single_column  .items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}

}